<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US States</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>


<body>
    <!-- HEADER -->
    <div class="container header__header center whitebg" id="home">
        <div class="wrapper">
            <div>
                <div class="header__content">
                    <div class="header__text center" id="home-text">
                        <h1 class="head-text">Welcome to <span>Fin's Final Project!</span></h1>
                        <br>
                        <h3 class="bold-text">For <span>Back-End Web Development I</span>, Spring 2022</h3>
                    </div>
                    <div class="header__button_holder center">
                        <form method="get" action="/states/">
                            <button class="header__button">
                                Enter
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>