<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US States</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<nav class="nav__nav center">
    <ul class="nav__items center">
        <li class="nav__item center p-text">
            <div></div>
            <a href="#home" class="nav__link">Home</a>
        </li>
        <li class="nav__item center p-text">
            <div></div>
            <a href="#flags" class="nav__link">Flags</a>
        </li>
        <li class="nav__item center p-text">
            <div></div>
            <a href="#names" class="nav__link">Names</a>
        </li>
        <li class="nav__item center p-text">
            <div></div>
            <a href="#regions" class="nav__link">Regions</a>
        </li>
    </ul>
</nav>


<body>
    <!-- CONTIGUOUS QUERY PARAM -->
    <div class="contigs__contigs">
        <form method="get">
            <button type="submit" class="contigs__button">
                All
            </button>
        </form>
        <form method="get">
            <input type="hidden" name="contig" value="true">
            <button type="submit" class="contigs__button">
                Contiguous
            </button>
        </form>
        <form method="get">
            <input type="hidden" name="contig" value="false">
            <button type="submit" class="contigs__button">
                Non-Contiguous
            </button>
        </form>
    </div>
    

    <!-- HEADER -->
    <div class="container header__header center whitebg" id="home">
        <div class="wrapper">
            <div>
                <div class="header__content">
                    <div class="header__text center">
                        <h1 class="head-text">Welcome, explore <span>the United States!</span></h1>
                    </div>
                    <div class="header__button_holder center">
                        <button class="header__button" id="begin" onclick="buttonExpand()">
                            Get Started
                        </button>
                        <button class="header__button header__expand_button" type="button" onclick="window.location.href='#flags'; buttonCollapse()">
                            Flags
                        </button>   
                        <button class="header__button header__expand_button" type="button" onclick="window.location.href='#names'; buttonCollapse()">
                            Names
                        </button>
                        <button class="header__button header__expand_button" type="button" onclick="window.location.href='#regions'; buttonCollapse()">
                            Regions
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FLAGS -->
    <div class="container flags__flags center lightgreybg" id="flags">
        <div class="wrapper">
            <div>
                <div class="flags__content">
                    <div class="flags__text center">
                        <h1 class="head-text">US States by <span>Flag</span></h1>
                    </div>
                    <div class="flags__flag_holder center" id="flag_holder">
                        <!--  -->
                        <% for (var key in statesList) { %>
                            <a href="<%= statesList[key].code %>" class="flags__card center">
                                <div class="flags__card_img center">
                                    <img src="<%= statesList[key].state_flag_url %>" alt="<%= statesList[key].code %>">
                                </div>
                                <div class="flags__card_body">
                                    <p class="bold-text"><%= statesList[key].code %></p>
                                </div>
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VARIABLES FOR PRINTING NAMES AND REGIONS  -->
    <% const states = []; %>
    <% const codes = []; %>
    <% const reg_codes = []; %>
        <% for (var key in statesList) {
            if (statesList.hasOwnProperty(key)) {
                states.push(statesList[key].state);
                codes.push(statesList[key].code);
                reg_codes.push(statesList[key].code);
            }
        }
        %>
        <% for (i = 0; i < states.length; i++ ) {
            if (states.indexOf(states[i].slice(0,1)) == -1) {
                states.splice(i, 0, states[i].slice(0,1));
                codes.splice(i, 0, '#');
            }
        }
    %>
    <% const regions = {}; %>
    <% for (var key in statesList) {
        if (statesList.hasOwnProperty(key)) {
            regions[statesList[key].state] = statesList[key].region;
        }
    }
    %>
%>

    <!-- NAMES -->
    <% if (statesList.length == 2) { %>
        <div class="container names__names center whitebg" id="names">
            <div class="wrapper">
                <div>
                    <div class="names__content">
                        <div class="names__text center">
                            <h1 class="head-text">US States by <span>Name</span></h1>
                        </div>
                        <div class="names__names_holder center">
                            <div class="names__names_column center">
                                <h4 class="bold-text"><%= states[0] %></h4>
                                <a href="<%= codes[1] %>" class="names__item p-text">
                                    <%= states[1] %>
                                </a>
                                <h4 class="bold-text"><%= states[2] %></h4>
                                <a href="<%= codes[3] %>" class="names__item p-text">
                                    <%= states[3] %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
    <div class="container names__names center whitebg" id="names">
        <div class="wrapper">
            <div>
                <div class="names__content">
                    <div class="names__text center">
                        <h1 class="head-text">US States by <span>Name</span></h1>
                    </div>
                    <div class="names__names_holder center">
                            <div class="names__names_column center">
                                <% var names_counter = 0; %>
                                <% for (var key in states) { %>
                                    <% if (names_counter < 22) { %>
                                        <% if (states[key].length > 1) { %>
                                            <a href="<%= codes[key] %>" class="names__item p-text">
                                                <%= states[key] %>
                                            </a>
                                        <% } else { %>
                                            <h4 class="bold-text">
                                                <%= states[key] %>
                                            </h4>
                                        <% } %>
                                    <% } %>
                                <% names_counter++; } %>
                            </div>
                            <div class="names__names_column center">
                                <% names_counter = 0; %>
                                <% for (var key in states) { %>
                                    <% if (names_counter > 21 && names_counter < 45) { %>
                                        <% if (states[key].length > 1) { %>
                                            <a href="<%= codes[key] %>" class="names__item p-text">
                                                <%= states[key] %>
                                            </a>
                                        <% } else { %>
                                            <h4 class="bold-text">
                                                <%= states[key] %>
                                            </h4>
                                        <% } %>
                                    <% } %>
                                <% names_counter++; } %>
                            </div>
                            <div class="names__names_column center">
                                <% names_counter = 0; %>
                                <% for (var key in states) { %>
                                    <% if (names_counter > 44 && names_counter < 69) { %>
                                        <% if (states[key].length > 1) { %>
                                            <a href="<%= codes[key] %>" class="names__item p-text">
                                                <%= states[key] %>
                                            </a>
                                        <% } else { %>
                                            <h4 class="bold-text">
                                                <%= states[key] %>
                                            </h4>
                                        <% } %>
                                    <% } %>
                                <% names_counter++; } %>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>

 <!-- NAMES -->
 <% if (statesList.length == 2) { %>
    <div class="container regions__regions center whitebg" id="regions">
        <div class="wrapper">
            <div>
                <div class="regions__content">
                    <div class="regions__text center">
                        <h1 class="head-text">US States by <span>Region</span></h1>
                    </div>
                    <div class="regions__region_holder center">
                        <div class="regions__column center">
                            <h2 class="head-text">West</h2>
                            <h3 class="bold-text">Pacific</h3>
                            <div class="regions__list center">
                                <a href="<%= reg_codes[0] %>" class="names__item p-text">
                                    <%= states[1] %>
                                </a>
                                <a href="<%= reg_codes[1] %>" class="names__item p-text">
                                    <%= states[3] %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } else { %>
    <!-- REGIONS -->
    <div class="container regions__regions center lightgreybg" id="regions">
        <div class="wrapper">
            <div>
                <div class="regions__content">
                    <div class="regions__text center">
                        <h1 class="head-text">US States by <span>Region</span></h1>
                    </div>
                    <div class="regions__region_holder center">
                        <div class="regions__column center">
                            <h2 class="head-text">Northeast</h2>
                            <h3 class="bold-text">New England</h3>
                            <div class="regions__list center">
                                <% var counter = 0; %>
                                <% for (var key in regions) { %>
                                    <% if (regions[key] == 'New England') { %>
                                        <a href="<%= reg_codes[counter] %>" class="regions__item p-text"><%= key %></a>
                                    <% } %>
                                <% counter++; } %>
                            </div>
                            <h5 class="bold-text">Middle Atlantic</h5>
                            <div class="regions__list center">
                                <% counter = 0; %>
                                <% for (var key in regions) { %>
                                    <% if (regions[key] == 'Middle Atlantic') { %>
                                        <a href="<%= reg_codes[counter] %>" class="regions__item p-text"><%= key %></a>
                                    <% } %>
                                <% counter++; } %>
                            </div>
                        </div>
                        <div class="regions__column center">
                            <h2 class="head-text">Midwest</h2>
                            <h5 class="bold-text">East North Central</h5>
                            <div class="regions__list center">
                                <% counter = 0; %>
                                <% for (var key in regions) { %>
                                    <% if (regions[key] == 'East North Central') { %>
                                        <a href="<%= reg_codes[counter] %>" class="regions__item p-text"><%= key %></a>
                                    <% } %>
                                <% counter++; } %>
                            </div>
                            <h5 class="bold-text">West North Central</h5>
                            <div class="regions__list center">
                                <% counter = 0; %>
                                <% for (var key in regions) { %>
                                    <% if (regions[key] == 'West North Central') { %>
                                        <a href="<%= reg_codes[counter] %>" class="regions__item p-text"><%= key %></a>
                                    <% } %>
                                <% counter++; } %>
                            </div>
                        </div>
                        <div class="regions__column center">
                            <h2 class="head-text">South</h2>
                            <h5 class="bold-text">South Atlantic</h5>
                            <div class="regions__list center">
                                <% counter = 0; %>
                                <% for (var key in regions) { %>
                                    <% if (regions[key] == 'South Atlantic') { %>
                                        <a href="<%= reg_codes[counter] %>" class="regions__item p-text"><%= key %></a>
                                    <% } %>
                                <% counter++; } %>
                            </div>
                            <h5 class="bold-text">East South Central</h5>
                            <div class="regions__list center">
                                <% counter = 0; %>
                                <% for (var key in regions) { %>
                                    <% if (regions[key] == 'East South Central') { %>
                                        <a href="<%= reg_codes[counter] %>" class="regions__item p-text"><%= key %></a>
                                    <% } %>
                                <% counter++; } %>
                            </div>
                            <h5 class="bold-text">West South Central</h5>
                            <div class="regions__list center">
                                <% counter = 0; %>
                                <% for (var key in regions) { %>
                                    <% if (regions[key] == 'West South Central') { %>
                                        <a href="<%= reg_codes[counter] %>" class="regions__item p-text"><%= key %></a>
                                    <% } %>
                                <% counter++; } %>
                            </div>
                        </div>
                        <div class="regions__column center">
                            <h2 class="head-text">West</h2>
                            <h5 class="bold-text">Mountain</h5>
                            <div class="regions__list center">
                                <% counter = 0; %>
                                <% for (var key in regions) { %>
                                    <% if (regions[key] == 'Mountain') { %>
                                        <a href="<%= reg_codes[counter] %>" class="regions__item p-text"><%= key %></a>
                                    <% } %>
                                <% counter++; } %>
                            </div>
                            <h5 class="bold-text">Pacific</h5>
                            <div class="regions__list center">
                                <% counter = 0; %>
                                <% for (var key in regions) { %>
                                    <% if (regions[key] == 'Pacific') { %>
                                        <a href="<%= reg_codes[counter] %>" class="regions__item p-text"><%= key %></a>
                                    <% } %>
                                <% counter++; } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>
</body>

<script>
    // BUTTON SCRIPTS
    const begin = document.getElementById('begin');
    const expands = document.querySelectorAll('.header__expand_button');
    const buttonExpand = () => {
        for(i = 0; i < expands.length; i++) {
            if(expands[i]) {
                expands[i].classList.remove('header__expand_button');
            }
        }
        begin.classList.add('header__hide');        
    }
    const buttonCollapse = () => {
        for(i = 0; i < expands.length; i++) {
            if(expands[i]) {
                expands[i].classList.add('header__expand_button');
            }
        }
        begin.classList.remove('header__hide');
    }

</script>

</html>