<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= state %></title>
    <link rel="stylesheet" type="text/css" href="css/state.css">
</head>
<body>
    <div class="state__state container">
        <div class="state__header">
            <div class="state__flag">
                <img src="<%= state_flag_url %>" alt="<%= state %> Flag">
            </div>
            <div class="state__name">
                <h1 class="bold-text"><%= state %></h1>
            </div>
        </div>
    </div>
</body>
</html>