/* NON SPECIFIC STYLINGS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font-base: "Monteserrat", sans-serif;
    --blue-color: #41658A;
    --red-color: #B0454C;
    --black-color: #090A0B;
    --grey-color: #40484F;
    --light-grey-color: #D2D6DA;
    --white-color: #F1F5F8;
}

.whitebg {
    background-color: var(--white-color);
}

.blackbg {
    background-color: var(--black-color);
}

.greybg {
    background-color: var(--grey-color);
}

.lightgreybg {
    background-color: var(--light-grey-color);
}

.redbg {
    background-color: var(--red-color);
}

.bluebg {
    background-color: var(--blue-color);
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;
}

.head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--black-color);
    text-transform: capitalize;
    font-family: var(--font-base);
}

.head-text span {
    color: var(--blue-color);
}

.p-text {
    font-size: 0.8rem;
    text-align: left;
    color: var(--grey-color);
    line-height: 1.5;
}

.bold-text {
    font-size: 1rem;
    font-weight: 800;
    color: var(--black-color);
    text-align: left;
    font-family: var(--font-base);
}